
#topic_list {
	margin-left:30px;
	margin-top:20px;
	margin-bottom: 10px;
}

#topic_list .li_1 {
	color: #336699;
	height: 15px;
	line-height: 15px;
}

#topic_list .li_1 a {
	color: #336699;
	font-size: 13px;
}

#topic_list .li_1 a:visited {
	color: #482872;
}

#topic_list .li_1 span {
	float: right;
	height: 12px;
	margin-right: 12px;
}

#topic_list .li_1 .reply_index {
	background:
		url(http://static.epaidai.com/images/bbs/new/nums-bg0.png?v=4)
		no-repeat;
	display: inline-block;
	padding-left: 8px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 12px;
}

#topic_list .li_1 .reply_index:visited {
	color: #FFFFFF;
	text-decoration: none;
}






#topic_list .li_2 {
	font-size: 12px;
	height: 12px;
	margin-top: 0px;
	line-height: 12px;
}

#topic_list .li_2 a {
	color: #7D98AF;
}

#topic_list .li_2 a:visited {
	color: #7D98AF;
}

#topic_list .li_s {
	color: #787878;
	margin-left: 12px;
}

#topic_list .li_c {
	color: #c8c8c8;
	margin-left: 10px;
}

#topic_list .li_3 {
	color: #323232;
	font-size: 9px;
	padding: 2px 12px 17px 0px;
	line-height: 1.5em;
}

#topic_list ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#topic_list ul li {
	display: inline-block;
	padding: 4px 0px 0px 0px;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 10px;
}

#topic_list ul .li_last {
	display: inline-block;
	padding: 4px 0px 0px 0px;
	border-bottom: 0px solid #E6E6E6;
	margin-bottom: 10px;
}

/* 下单用户头像 */
.topic .u_photo {
	float: left;
	width: 52px;
}

.topic .u_photo img {
	border: none;
	vertical-align: middle;
}

.topic .u_photo a {
	display: block;
	padding: 1px;
	border: 1px solid #D3D7DA;
}

.topic .u_post {
	float: left;
	margin-left: 12px;
	width: 630px;
}

.topic .u_post .i_title {
	width: 534px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topic .btn_order {
	position: absolute;
	width: 90px;
	height: 35px;
	background-color: green;
	margin-left: 490px;
	margin-top: 5px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	font-size: 15px;
	background: #ed6f00;
	border: 0;
	padding: 0;
	border-radius: 5px;
	font-family: "微软雅黑";
	cursor: pointer;

}

.topic .btn_order:hover {
	background: #F9831B;
}

/* 订单奖励金额，送货地点等 */ /* //////////// */
.active_readNum, .readNum {
	background: url(http://static.epaidai.com/images/bbs/read_iconh.gif?v=2)
		no-repeat 0 3px;
	padding-left: 16px;
	line-height: 14px;
}

.active_collectNum, .collectNum {
	background: url("/zhaixiaodi/src/main/webapp/image/money.png") no-repeat 0px center;
	padding-left: 13px;
	line-height: 14px;
}

.readNum, .collectNum {
	background-position: 0px 0px;
}

.money {
	color: red;
}

 .zln-button {
	width: 216px;
	height: 45px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	font-size: 30px;
	background: #ed6f00;
	border: 0;
	margin-left: 230px;
	padding: 0;
	border-radius: 5px;
	font-family: "微软雅黑";
	cursor: pointer;
}
 .zln-button:hover {
	background: #F9831B;
}
.btn_order{

}
.ordertimeline-time{
	width:50px
}