.profile_msg{
	  width:400px;
	  height:400px;
	  margin-top:0px;
	  margin-left:100px
	  
}


.profile_tr{
	width:400px;
	height:40px;
	
}
.profile_name{
	width:100px;
	height:40px;
	font-size:18px;
	color:#000002;
	text-align:right;
	font-family: "仿宋";
}
.profile_td_msg{
	width:200px;
	text-align:right;
	
}
#divdcardf{
	border-radius:28px 28px 28px 6px;
	border:2px #000 solid;
	height:100px;
	width:100px;
	overflow: hidden;
	margin-left:50px;
}
#upicimage{
	max-width:100%;
	max-height:100%;

}
.profile_span_1{
	margin-left:-50px;
	color:#ff80ff;
	
}
.editform{
	border:none;
	font-family:"仿宋";
	color:#5d5d5d;
}
#editprofilemsg{
	width:185px;
	height:55px;
	margin-top:50px;
	margin-left:100px
}