#newsAddDiv{
	width: 450px;
	height: 480px;
	border: 1px solid #B4CEF8;
	position: absolute;
	top: 160px;
	left: 500px;
	background: #fff;
	display:none;
}

#newsModifyDiv{
	width: 450px;
	height: 530px;
	border: 1px solid #B4CEF8;
	position: absolute;
	top: 160px;
	left: 500px;
	background: #fff;
	display:none;
}

#modifyform,#addform{
	width:90%;
	height: 90%;
}

.newsul{
	width:100%;
	height:100%;
}

.newsul li{
	list-style: none;
	margin-left: 35px;
	margin-top:10px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

.newsul li img{
	width:200px;
	height:150px;
}

textarea{
	width: 240px;
	height: 80px;
}

.newsul button,.newsul span{
	margin-top:20px;
	margin-left:60px;
}