.extend-input,
.user-info ul li .user-name,
.user-info ul li .email,
.user-info ul li .password,
.user-info ul li .code,
.answer,
.phone-info ul li .phone_number,
.phone-info ul li .phone_code{
  border: 2px solid #e1e1e1;
  width: 300px;
  padding: 8px 0;
  margin-left: 14px;
  color: #666;
  text-indent: 5px;
  outline: 0;
  vertical-align: middle;
  *line-height: 20px;
}
.user-info {
  text-align: center;
  font-size: 1.333em;
  padding-top: 40px;
}
.user-info ul {
  margin: 0;
  padding: 0;
}
.user-info ul li {
  list-style: none;
  margin-bottom: 20px;
}
.user-info ul li span {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.user-info ul li .user-name:focus,
.user-info ul li .email:focus,
.user-info ul li .password:focus,
.user-info ul li .code:focus,
.answer:focus
.phone-info ul li .phone_number:focus,
.phone-info ul li .phone_code:focus{
  border: 2px solid #d6f1ff;
}
.user-info ul li .code-title {
  margin-left: -150px;
}
.user-info ul li .code-img {
  width: 145px;
  height: 42px;
  margin-left: -134px;
  margin-top: 10px;
}
.user-info ul li .code {
  width: 150px;
}
.user-info ul li .change-code {
  display: block;
  font-size: 0.75em;
  margin-left: -116px;
  margin-top: 10px;
}
.user-info ul li .provision {
  text-align: left;
  width: 300px;
  font-size: 0.75em;
  color: #999;
}
.user-info ul li .provision input {
  margin-right: 9px;
}
.user-info ul li .provision a {
  margin-left: 9px;
}
.user-info ul li .error {
  border: 2px solid #fedddc !important;
  display: inline;
}
.user-info ul .provision-item {
  margin-top: -18px;
  padding-left: 20px;
  *padding-left: 0;
  clear: both;
}
.user-info ul .next-btn {
  font-size: 1.062em;
  text-align: center;
}
.user-info ul .next-btn .next-step, .phone-info ul .next-btn .next-step {
  background: #dc3c00;
  display: inline-block;
  width: 300px;
  height: 44px;
  line-height: 44px;
  color: #fff;
  margin-left: 20px;
  *margin-left: 0;
  border: 0;
}
.user-info ul .next-btn .next-step:hover {
  text-decoration: none;
}
.extends-register-tooltip-icon,
.prompt .state,
.success .state,
.error .state,
.pass-word-strength .state {
  background-image: url("../images/login-logic-icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.extends-icon-border,
.tooltip-info .icon-border,
.tooltip-info .icon-bg {
  position: absolute;
  border-style: solid;
  border-width: 8px;
  height: 0;
  width: 0;
  top: 8px;
}
.tooltip-info {
  display: none;
  position: absolute;
  max-width: 204px;
  _width: 204px;
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 8px;
  color: #666;
  font-size: 0.75em;
}
.tooltip-info .icon-border {
  border-color: transparent #ddd transparent transparent;
  left: -17px;
}
.tooltip-info .icon-bg {
  border-color: transparent #fff transparent transparent;
  left: -15px;
}
.tooltip-info .mess {
  display: inline-block;
  width: 163px;
  vertical-align: top;
  text-align: left;
}
.prompt {
  display: block;
}
.prompt .strength {
  display: none;
}
.prompt .state {
  display: inline-block;
  background-position: -37px 0;
}
.success {
  display: block;
  border: none;
}
.success span,
.success .mess {
  display: none;
}
.success .state {
  display: inline-block;
  background-position: -74px 0;
}
.success .strength {
  display: none;
}
.error {
  display: block;
}
.error .state {
  background-position: 0 0;
}
.error .strength {
  display: none;
}
.pass-word-strength {
  display: block;
}
.pass-word-strength .strength {
  display: block;
  margin-bottom: 10px;
}
.pass-word-strength .strength em {
  font-style: normal;
  margin-right: 10px;
}
.pass-word-strength .strength span {
  display: inline-block;
  background: #ccc;
  width: 46px;
  height: 6px;
  margin-right: 4px;
}
.pass-word-strength .strength .red {
  background: #dc3c00;
}
.pass-word-strength .state {
  display: inline-block;
  background-position: -74px 0;
}
.user-info ul li .code {
  width: 300px;
}
.user-info ul li .code-img {
  display: inline-block;
  margin-left: 5px;
  margin-top: 0;
  width: 135px;
}
.user-info ul li .code-title {
  margin-left: 0;
}
.user-info ul li .change-code {
  float: none;
  display: block;
  margin-left: -67px;
  margin-right: 0;
  margin-top: 5px;
}
.prompt-answer {
  padding: 0 237px;
  display: none;
}
.prompt-answer .alert-answer {
  display: block;
  width: auto;
  font-size: 0.75em;
  text-align: left;
  margin-left: 102px;
  margin-top: 5px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs li {
  margin-bottom: 0;
}
.nav-tabs li.active a {
  border: none;
  padding: 0;
}
.nav-tabs li.active a:hover {
  border: none;
  padding: 0;
}
.nav-tabs li a {
  padding: 0;
  line-height: normal;
  margin: 0;
  border: 0;
}
.nav-tabs li a:hover {
  border-color: none;
}
.mode {
  padding: 40px 0 0;
  text-align: center;
}
.mode ul {
  padding: 0;
  margin: 0;
}
.mode ul li {
  border-bottom: 2px solid #e7e7e7;
  float: none;
  display: inline-block;
  padding: 0 16px 10px;
  font-size: 14px;
}
.mode ul li a {
  color: #999;
}
.mode ul li.active {
  border-bottom: 2px solid #dc3c00;
}
.mode ul li.active a {
  color: #dc3c00;
}
.email-address, .phone_num {
  text-align: center;
  padding-top: 42px;
  color: #666;
}
.email-address .red, .phone_num .red{
  display: inline-block;
  color: #dc3c00;
  margin-left: 12px;
}
.password-mode {
  display: none;
  text-align: center;
  padding-top: 40px;
}
.password-mode .question {
  margin-bottom: -4px;
  color: #666;
}
.password-mode .question a {
  color: #0064aa;
  margin-left: 20px;
}
.password-mode .question .question-title,
.password-mode .question .answer-info {
  display: inline-block;
  font-size: 1.333em;
}
.password-mode .question .question-title {
  width: 80px;
  text-align: right;
  margin-left: -81px;
}
.password-mode .question .answer-info {
  text-align: left;
  margin-left: 14px;
}
.prompt-answer {
  padding: 0 237px;
  display: none;
}
.prompt-answer .alert-answer {
  display: block;
  width: auto;
  font-size: 0.75em;
  text-align: left;
  margin-left: 102px;
  margin-top: 5px;
}





/* add by zw */
.phone-mode {
    display: none;
    text-align: center;
}
.phone-info{
    text-align: center;
    font-size: 1.333em;
    padding-top: 20px;
}
.phone-info ul li{
    margin: 10px;
}
.phone-info ul li span{
    display: inline-block;
    width: 180px;
    text-align: right;
    margin-left: -130px;
}
.phone-info ul li .phone_code{
    width: 170px;
}
.phone-info ul li .send_phone_code{
    display: inline-block;
    width: 120px;
    height: 43px;
    line-height: 43px;
    background-color: #dddddd;
    margin-left: 10px;
    vertical-align: middle;
    color: #333;
}

.phone-info ul li .resend-code{
    display: none;
    width: 120px;
    height: 43px;
    line-height: 43px;
    background-color: #dddddd;
    margin-left: 10px;
    vertical-align: middle;
    color: #333;
}
.phone-info ul .next-btn .next-step{
    margin-left: 15px;
}

.countdown {
  display: none;
  position: absolute;
  margin-top: 10px;
  white-space: nowrap;
  color: #adadad;
}