.register-progress {
  padding-left: 30px
}
.register-progress .pross {
  position: relative;
  background: #ddd;
  float: left;
  width: 300px;
  height: 35px;
  line-height: 35px;
  color: #666;
  font-size: 14px;
  padding-left: 10px;
  overflow: hidden;
}
.register-progress .pross .index {
  background: #999;
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  color: #fff;
  text-align: center;
  margin-right: 10px;
}
.register-progress .pross .pross-dir {
  background: #ddd;
  position: absolute;
  top: -17px;
  right: -19px;
}
.register-progress .pross .pross-dir .outside,
.register-progress .pross .pross-dir .inside {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 19px;
}
.register-progress .pross .pross-dir .outside {
  border-color: transparent transparent transparent #f8f8f8;
}
.register-progress .pross .pross-dir .inside {
  border-color: transparent transparent transparent #ddd;
  margin-left: -47px;
}
.register-progress .pross-ok {
  background: #f96;
  color: #fff;
}
.register-progress .pross-ok .index {
  background: #fff;
  color: #f96;
}
.register-progress .pross-ok .pross-dir {
  background: #ddd;
}
.register-progress .pross-ok .pross-dir .outside {
  border-color: transparent transparent transparent #f8f8f8;
}
.register-progress .pross-ok .pross-dir .inside {
  border-color: transparent transparent transparent #f96;
}
.register-progress .pross-ok .pross-dir-bg {
  background: #f96;
}
